<h1 class="form-header form-header-post-new"> Create new post </h1>

<%= form_with model: @post, class:"form-rails ", local: true do |form|%>
  <div class="form-wrapper">
    <div class="fields-wrapper">
      <%= form.label :title%>
      <%= form.text_field :title%>
    </div>

    <div class="fields-wrapper">
      <%= form.label :text%>
      <%= form.text_area :text%>
  </div>

  <%= form.submit 'Post now', :class=>"btn btn-submit" %>

  </div>
<% end %>
